trigger:
- master

jobs:
  - job: 'Test'
    pool:
      vmImage: 'Ubuntu-16.04'
    strategy:
      matrix:
        Typing:
          python.version: '3.7'
          TOXENV: typing
        Lint:
          python.version: '3.7'
          TOXENV: lint

        py27:
          python.version: '2.7'
          TOXENV: py27
        py34:
          python.version: '3.4'
          TOXENV: py34
        py35:
          python.version: '3.5'
          TOXENV: py35
        py36:
          python.version: '3.6'
          TOXENV: py36
        py37:
          python.version: '3.7'
          TOXENV: py37
          
        Docs:
          python.version: '3.7'
          TOXENV: docs
        PyPI-Description:
          python.version: '3.7'
          TOXENV: pypi-description
        Changelog:
          python.version: '3.7'
          TOXENV: changelog

    steps:
      - task: UsePythonVersion@0
        inputs:
          versionSpec: '$(python.version)'
          architecture: 'x64'

      - script: python -m pip install --upgrade tox
        displayName: install tox
      - script: tox
        displayName: run tox

  - job: 'Build Packages'
    dependsOn: 'Test'
    pool:
      vmImage: 'Ubuntu-16.04'

    steps:
      - task: UsePythonVersion@0
        inputs:
          versionSpec: '3.x'
          architecture: 'x64'

      - script: |
          python -m pip install --upgrade wheel
          python setup.py sdist bdist_wheel
        displayName: 'Build sdist & wheel'
