---

# Don't have two build jobs for each pull request.
trigger:
  - master


jobs:
  - job: 'Test'
    pool:
      vmImage: 'ubuntu-latest'
    strategy:
      matrix:
        Typing:
          python.version: '3.7'
          TOXENV: typing
        Lint:
          python.version: '3.7'
          TOXENV: lint

        py27:
          python.version: '2.7'
          TOXENV: py27
        py34:
          python.version: '3.4'
          TOXENV: py34
        py35:
          python.version: '3.5'
          TOXENV: py35
        py36:
          python.version: '3.6'
          TOXENV: py36
        py37:
          python.version: '3.7'
          TOXENV: py37

        pypy2:
          python.version: 'pypy2'
          TOXENV: pypy
        pypy3:
          python.version: 'pypy3'
          TOXENV: pypy3


        Docs:
          python.version: '3.7'
          TOXENV: docs
        PyPI-Description:
          python.version: '3.7'
          TOXENV: pypi-description
        Changelog:
          python.version: '3.7'
          TOXENV: changelog

    steps:
      - task: UsePythonVersion@0
        inputs:
          versionSpec: '$(python.version)'
          architecture: 'x64'

      - script: python -m pip install --upgrade tox codecov
        displayName: install tox & codecov
      - script: env ATTRS_TEST_EXTRAS=azure-pipelines tox
        displayName: run tox
      - script: |
          coverage combine
          codecov
        env:
          CODECOV_TOKEN: $(CODECOV_TOKEN)
        displayName: Report Coverage
        condition: succeeded()
