include LICENSE *.md *.toml *.yml *.yaml *.ini CITATION.cff
graft .github

# Stubs
recursive-include src *.pyi
recursive-include src py.typed

# Tests
include tox.ini conftest.py
recursive-include tests *.py
recursive-include tests *.yml

# Documentation
include docs/Makefile docs/docutils.conf
recursive-include docs *.png
recursive-include docs *.svg
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs *.md
prune docs/_build

# Just to keep check-manifest happy; on releases those files are gone.
# Last rule wins!
exclude changelog.d/*.md
include changelog.d/towncrier_template.md.jinja
