---
name: CodSpeed Benchmarks

on:
  push:
    branches: [main]
    tags: ["*"]
    paths:
      - src/**.py
      - bench/**
      - .github/workflows/codspeed.yml
  pull_request:
    paths:
      - src/**.py
      - bench/**
      - .github/workflows/codspeed.yml
  workflow_dispatch:


env:
  FORCE_COLOR: "1"
  PIP_DISABLE_PIP_VERSION_CHECK: "1"
  PIP_NO_PYTHON_VERSION_WARNING: "1"

permissions: {}

jobs:
  codspeed:
    name: Run CodSpeed benchmarks
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
           persist-credentials: false
      - uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
        with:
          python-version-file: .python-version-default
      - uses: hynek/setup-cached-uv@757bedc3f972eb7227a1aa657651f15a8527c817 # v2.3.0

      - name: Run CodSpeed benchmarks
        # v3.5.0
        uses: CodSpeedHQ/action@0010eb0ca6e89b80c88e8edaaa07cfe5f3e6664d
        with:
          token: ${{ secrets.CODSPEED_TOKEN }}
          run: uvx --with tox-uv tox run -e codspeed
